.menu {
  $self: &;
  position: fixed;
  background-color: #1c1c1e;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
  bottom: 0px;
  border-radius: 10px;
  z-index: 1;


  @media (min-width: 768px) {
    bottom: 10px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 15px 0;
  

    #{$self}__element {
      list-style: none;
      margin: 0 10px;

      #{$self}__link {
        color: white;
      }
    }
  }
}