header {
	background-color: #26252a;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='373' height='44.8' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23000000' stroke-width='3.7' stroke-opacity='0.4'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
	
	@media (min-width: 1200px) {
		height: 100vh;
	}

	.background {
		border-radius: 10px;
		background-color: white;
		width: 100%;
		margin: 250px 0;
		padding: 70px 20px;
		text-align: center;

		@media (min-width: 1200px) {
			margin: 312px 0;
		}
	
		h1 {
			font-size: 3.2em;
			color: #000;
			font-weight: bold;
	
			// Extra large devices (large desktops, 1200px and up)
			@media (min-width: 1200px) {
				font-size: 5.5em;
			}
		}
	
		p {
			font-size: 1.5em; 
			color: #000;
			font-weight: bold;
	
			@media (min-width: 1200px) {
				font-size: 2em;
			}
		
		}
	}	
}