.contact {
    $self: &;
    background-color: #26252a;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
    &__infos {
        background-color: #fff;
        color: #26252a;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 50px 0 0;
        border-radius: 18px;

        #{$self}__title {
            padding-bottom: 50px;
            text-decoration: underline;
        }
        
        #{$self}__links {
            display: flex;
            margin-bottom: 50px;
            width: 90%;
            justify-content: space-around;

            @media (min-width: 768px) {
                width: auto;
            } 

            #{$self}__link {
                font-size: 0.7em;



                @media (min-width: 768px) {
                    margin: 0 30px;
                    font-size: 1em;
                } 
            }

            #{$self}__link:first-child {
                color: #fff;
                background-color: #26252a;
                padding: 15px 15px 10px;
                border-radius: 10px;
                align-items: center;
                font-weight: bold;
            }
        }
    }
}