.nav {
  padding: 0 !important;
  background-color: #000 !important;
  position: fixed !important;
  font-size: 1.8em;
  z-index: 2;

  p {
    white-space: nowrap;
    opacity: 0;

    margin: {
      left: 20px;
      bottom: 0;
    }

    a {
      .icon {
        margin-bottom: 7px;
        margin-left: 10px;
      }
    }
  }

  button {
    &:focus {
      outline: none;
    }
  }

  div {
    margin-left: 20px;

    @media (min-width: 768px) {
      margin-left: 0;
      margin-right: 20px;
    }

  }
  
  @media screen and (min-width: 992px) { 
    background-color: transparent !important;
  }
  
  @media screen and (max-width: 992px) { 
    display: none;
  }
}

.nav div ul li:first-child a:hover:after {
  width: 70%;
  left: 20%;	
}

.nav div ul li:nth-child(2) a:hover:after, .nav div ul li:nth-child(3) a:hover:after {
  width: 90%;
  left: 9%;
}
// end animation on link navbar

// class bootstrap modifié
.nav-item {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
}