.contact {
    $self: &;
    background-color: #26252a;
    display: flex;
    align-items: center;
    justify-content: center;
   
    &__infos {
        background-color: #fff;
        color: #26252a;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 500px;
        margin: 0 20px;
        padding: 30px 0 0;
        border-radius: 10px;

        @media (min-width: 576px) {
            margin: 0 auto;
        } 

        @media (min-width: 1440px) {
            width: 550px;
        } 

        #{$self}__title {
            font-size: 2em;
            padding-bottom: 30px;
            text-decoration: underline;

            @media (min-width: 1440px) {
                font-size: 2.5em;
            } 
        }
        
        #{$self}__links {
            display: flex;
            margin-bottom: 50px;
            width: 90%;
            justify-content: space-around;

            @media (min-width: 768px) {
                width: auto;
            } 

            #{$self}__link {
                font-size: 0.7em;

                @media (min-width: 768px) {
                    margin: 0 30px;
                    font-size: 0.8em;
                } 
            }

            #{$self}__link:first-child {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background-color: #26252a;
                padding: 5px;
                border-radius: 10px;
                font-weight: bold;
            }
        }
    }
}