.competences {
  background-color: #26252a;
  width: 100%;
  display: flex;

  @media (min-width: 768px) {
    justify-content: center;
    align-items: center;
  }
}

.techno {
  margin: 50px auto 0;
}

.outil {
  margin: 50px auto 100px;
}

.techno, .outil {
  background-color: white;
  color: #26252a;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
  border-radius: 10px;

  @media (min-width: 992px) {
    font-size: 1.2em;
    margin: 0 auto;
  }

  &__title, &__title {
    padding: {
      top: 10px;
      bottom: 30px;
    };
    font-size: 1.7em;
    text-align: center;
    text-decoration: underline;

    @media (min-width: 1440px) {
      font-size: 2em;
    }
  }

  &__list, &__list {
    list-style-type: none;
    padding-left: 0;
  }

  &__element {
    background-color: #26252a;
    color: white;
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-size: 0.7em;

    @media (min-width: 1440px) {
      font-size: 0.8em;
    }
  }
}